.app-overview {
    background-color:#3C3C3C;
    padding: 86px 0;
}
.app-overview__wrapper {
    display: grid;
    grid-template-columns: 325px 325px 325px; 
    gap: 63px 40px;
  }
  .app-overview__card:first-child {
    grid-column: span 3; 
  }
.app-overview__card {
    background-color: white;
    border-radius: 24px;
    padding: 24px 20px;
    position: relative;
}
.app-overview__link-arrow {
    padding: 11px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    top: 44px;
    right: 40px;
}
.app-overview__link-text {
    margin-top: 20px;
}
.app-overview__link-title {
   color:  #565656;
   font-family: $font-accent;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}
.app-overview__link-paragraph {
 color: #000000;
line-height: 22px;
text-align: left;
margin-top: 22px;

}