.person {
    padding: 101px 0 101px 0;
    background-color:  $black;
    background-image: url(../../../images/bgs/bgs.svg);
    background-position: right;
    background-repeat: no-repeat;

    background-clip: border-box;
    &__wrapper-content{
        width: 540px;
    }
}
.person__title {
    font-family: $font-accent;
    font-size: 48px;
    line-height: 58px;
    color: #FAEB49;
}
.person__paragraph {
    font-family: $font-accent;
    font-weight: 500;
    line-height: 22px;
    margin-top: 40px;
}
.person__rows {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.person__rows-item {
    display: flex;
    flex-direction: column;
}
.person__number {
    font-family: $font-accent;
    font-size: 48px;
}
.person__description {
    margin-top: 5px;
    font-family: $font-main;
}
@media  (max-width: 768px) {
    .person__title {
      font-size: 38px;
      width: 200px;
    }
    .person__paragraph{
        width: 300px;
    }
    .person__rows{
       
    }
  }

 @media  (max-width: 575px) {
    .person {
      
}
}