.gdesign {
    background-color: $black;
    padding: 86px 0 183px 0;
}
.gdesign__title {
    font-family:$font-accent ;
    font-size: 80px;
    font-weight: 96;
}
.gdesign__inner {
    margin-top: 38px;
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
}
.gdesign__img{
    border-radius: 40px;
    height: 414px;
    filter: grayscale(100%) hue-rotate(40deg);
    width: 510px;
    object-fit: cover;
    box-sizing: border-box;
}
.gdesign__img:first-child {
    width: 100%;
}
