.adesign {
    background: linear-gradient(to right, #3C3C3C, transparent), url(../../../images/Rectangle\ 8.jpg);
    background-size:cover;
    padding: 303px 0;
}

.adesign__par {
font-family: $font-accent;
font-size: 48px;
text-align: center;
}
