@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500;700&family=Manrope:wght@500;700&display=swap');

/*
font-family: 'DynaPuff', sans-serif;
font-family: 'Manrope', sans-serif;
*/

.body {
  font-family: $font-main;
  font-size: 16px;
  color: white;
}

.container{
    padding: 0 15px;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
a{
  text-decoration: none;
  color: white;
}
