//fonts
$font-main: 'Manrope', sans-serif;
$font-accent: 'DynaPuff', sans-serif;

//colors
$header-bg: linear-gradient(252.94deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
$beige: #EEEEEF;
$footer-bg:#4C394E;
$section2-bg: #3C3C3C;
$black: #202020;


