.menu__list {
    display: flex;
    align-items: center;
    gap: 20px;
}
.menu__item {
    padding: 10px 16px;
    border: 1px solid white;
    border-radius: 20px;
}
.menu_link {
display: flex;
align-items: center;
font-size: 16px;
}
