.header__burger{
    position: relative;
    z-index: 50;
    border: 2px solid  #FFFFFF;
    border-radius: 20px;
    height: 58px;
    width: 58px;
    position: relative;
    background: none;
    display: none;
}
.header__burger span {
    width: 16px;
    height: 1.3px;
    background-color: #FFFFFF;
    position: absolute;
    right: 21px;
}
.header__burger span:last-child{
    bottom: 22px;
    width: 10px;
}
.header__burger span:nth-last-child(2){
    bottom: 25px;
}
.header__burger span:nth-child(2){
    bottom: 28px;
    width: 10px;
}
.header__burger span:first-child{
    bottom: 31px;
}
@media(max-width:768px){
 .header__burger{
    display:block;
}
}
