.footer {
    background-color: $black;
    padding: 78px 0 30px 0;
}
.footer__btn {
    border: 1px solid  #F2F2F2;
    border-radius: 139px;
}
.footer__btn-link {
    padding: 42px 137px;
    display: flex;
}
.footer__btn-icon{
    margin-right: 45px;
}
.footer__btn-title {
    font-family: $font-accent;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 17px;
}
.footer__btn-p {
    font-family: $font-main;
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
    display: flex;
    align-items: center;
}
.footer__social {
    margin: auto;
    margin-top: 163px;
    width: 198px;
    display: flex;
    justify-content: space-between;
}
.footer__copyright {
    margin: auto;
    margin-top: 21px;
    box-sizing: border-box;
    text-align: center;
}

