.header {
    background: $header-bg;
    padding-top: 41px;
    padding-bottom: 119px;
    &__top{
        display: flex;
        column-gap: 401px;
        align-items: center;
        position: fixed;
        width: 1050px;
        z-index: 1;
        top: 48px;
    }
}
.header_title {
    font-family: $font-accent;
    color: white;
    text-align: left;
    font-size: 80px;
    line-height: 96px;
    margin-top: 456px;
}
@media  (max-width: 768px) {
    .header_title {
        margin-top: 250px;
    }
}
@media  (max-width: 507px) {
    .header_title {
        font-size: 48px;
        margin-bottom: 149px;
    }
}
.header__top.fixed {
    background-color: #000000; 
   
}
@media (max-width:1071px) {
 .header__top{
     column-gap: 200px;
    }
}
@media (max-width:918px) {
    .header__top{
        column-gap: 100px;
       }
   }
   @media (max-width:768px) {
    .header__menu{
        display: none;
       }
   }